html{
  font-size: 16px;
}
body{
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  font-weight:400;
}
h1{
  display:inline-block;
  margin-left: 20px;
  vertical-align:top;
}
form{
  margin:15px 30px 0px 0px;
  position:fixed;
  right:0;
  z-index:9;
}
form > input {
  margin-left:20px;
}
ul.albums{
  display:block;
  list-style-type:none;
  padding-top: 300px;
  padding-left: 0;
  position:relative;
}
li{
  display:inline-block;
}
li > div{
  display:inline-block;
  height: 300px;
  width: 200px;
}
p{
  font-size:1.5em;
  text-align:center;
}
p.info{
  display:block;
  margin-left: 20px;
  text-align:left;
}
span.glyphicon{
  font-size:2em;
  float:right;
  margin:10px;
  z-index:12;
}
span.glyphicon:hover{
  cursor:pointer;
  cursor:hand;
  animation: increase-size 0.4s forwards;
}
@keyframes increase-size { 
  100% { font-size:2.5em; } 
}
.center-block{
 left:0;
 right:0;
 margin-left: auto;
 margin-right: auto; 
}
.album{
  height:150px;
  margin-top:20px;
  position:absolute;
  width: 150px;
}
.album-container:hover .album-cover{
  cursor:pointer;
  cursor:hand;
  -webkit-animation:tilt-cover 0.2s linear forwards;
  -moz-animation:tilt-cover 0.2s linear forwards;
  animation:tilt-cover 0.2s linear forwards;
}
@-moz-keyframes tilt-cover { 
  100% { -moz-transform: rotate(6deg); } 
}
@-webkit-keyframes tilt-cover { 
  100% { -webkit-transform: rotate(6deg); } 
}
@keyframes tilt-cover { 
  100% { -webkit-transform: rotate(6deg); transform:rotate(6deg); } 
}
.vinyl-record{
  z-index: -1;
}
.album-container:hover .vinyl-record{
  -webkit-animation:show-record 0.3s linear forwards;
  -moz-animation:show-record 0.3s linear forwards;
  animation:show-record 0.3s linear forwards;
}
@-moz-keyframes show-record { 
  100% { -moz-transform: translate(35px,6px); } 
}
@-webkit-keyframes show-record { 
  100% { -webkit-transform: translate(35px,6px); }
}
@keyframes show-record {  
  100% { -webkit-transform: translate(35px,6px); } 
}
p.album-title{
  bottom:70px;
  display:block;
  margin-top:10px;
  position:absolute;
  text-align:center;
}
.artist-info-container{
  background-color:white;
  border-bottom: 1px solid #767676;
  height:200px;
  position:fixed;
  width: 100%;
  z-index: 1;
}
.artist-info-container > div{
  display: inline-block;
}
.artist-info-container > img{
  vertical-align:top;
  padding:15px;
}
/*MODAL*/
.modal-underlay{
  background-color:rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 10;
}
.tracks-modal{
  background-color:white;
  border-radius: 4px;
  height: 600px;
  height: 80vh;
  margin-top: 10vh;
  max-width:500px;
  min-width:300px;
  overflow:scroll;
  padding:20px;
  width: 50%;
  z-index: 11;
}
ul.tracks-list{
  display:block;
  height:90%;
  margin-left:0;
  overflow: scroll;
}
.tracks-list-container{
  margin:15px;
}
.track-show{
  border: 1px solid #767676;
  height: 25px;
  width:300px;
}
.track-show p{
  font-size:1em;
  line-height:25px;
  padding-left:10px;
  text-align:left;
}
.track-show p span{
  float:right;
  padding-right:10px;
}
/*break point for profile image enlargement*/
@media screen and (min-width: 1100px){
  .artist-info-container{
    height:400px;
  }
  ul{
    padding-top: 550px;
  }
}
